@model gs.RolePermission.Model.ActionInfo
@using gs.RolePermission.Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetRole</title>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        function afterSetRole(data) {
            if (data == "ok") {
                alert("用户角色设置成功");//给出设置成功提示
                window.parent.window.afterSetRole();//调用父窗体的afterSetRole()方法;
            }
        }
        function submitForm() {
            $("form").submit();//提交form表单
        }
    </script>

</head>
<body>
    <div>
        <h2>当前给权限:@Model.ActionName 设置角色</h2>
        <hr />
        @*下面把所有的角色显示出来*@
        @{
            //在最上面需要导入@using XDZ.RolePermission.Model
            //获取所有当前用户已存在的角色Id
            List<int> exitRoleIdList = ViewBag.ExitRoles;
            List<RoleInfo> allRoles = ViewBag.AllRoles;
            using (Ajax.BeginForm("ProcessSetRole", "ActionInfo", new AjaxOptions() { OnSuccess = "afterSetRole" }))

            {
                <input type="hidden" name="UId" value="@Model.Id" />
                int i = 0;
                foreach (var roleInfo in allRoles)
                {
                    string str = "ckb_" + roleInfo.Id;//给checkbox控件取名规范ckb_RoleID,也是方便后台拿到用户选择的角色Id值
                    if (i % 3 == 0 && i != 0)
                    {
                        <br />
                    }
                    if (exitRoleIdList.Contains(roleInfo.Id))
                    {
                        <input type="checkbox" checked="checked" name="@str" id="@str" value="@str" />
                    }
                    else
                    {
                        <input type="checkbox" name="@str" id="@str" value="@str" />
                    }
                    i++;
                    <label for="@str" style="display:inline-block;width:100px;">@roleInfo.RoleName</label>
                    }
                }
            }
        </div>
    </body>
</html>
